%section.section
  .container.mb40
    .col-12.text-center
      %h1.heading-lrg.primary-color You Don't Need WordPress
      %h4.heading-md.primary-color Create A Blog With Only Google Docs
      .mt40
        %a.button.mobile-text-center.mt10.mobile-text-center.accent-bg.primary-color{:href => new_user_registration_path, :target => "_blank"}
          %span{style: "font-weight:600"} Create Your Blog
  .container-lrg
    .col-12
      = image_tag("essay.png", alt: "Screenshot of App in Browser", style: "border-radius:5px")
%section#feature-5.section.gray-accent{:activepage => "Landing", :sitemeta => "[object Object]"}
  .container
    .col-12.text-center.flex.flex-column.center-horizontal
      %i.icon.secondary-bg.mobile-center-icon
        %svg.svg-fill{:viewbox => "0 0 25 25", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M20 12.5A7.5 7.5 0 1 1 12.5 5a7.5 7.5 0 0 1 7.5 7.5zM12.5 3a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-1 0v2a.5.5 0 0 0 .5.5zm0 19a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5zm-10-10h-2a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm22 0h-2a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zM5.075 5.782a.5.5 0 1 0 .708-.707L4.368 3.661a.5.5 0 0 0-.707.707zm14.85 13.436a.5.5 0 0 0-.707.707l1.414 1.414a.5.5 0 0 0 .707-.707zm-14.85 0l-1.414 1.414a.5.5 0 0 0 .707.707l1.414-1.414a.5.5 0 1 0-.707-.707zM20.632 3.66l-1.415 1.414a.5.5 0 0 0 .708.707l1.414-1.414a.5.5 0 0 0-.707-.707z"}
      %h3.heading.primary-color{ style: "color:white;"} The Simplest CMS
      %p.subheading.secondary-color.mt20{ style: "color:white;"} Integrate directly with Google Drive. Work from your phone or computer.
  .container-lrg.mt75
    .col-12
      %div
        = image_tag("simplest-cms.png", alt: "Screenshot of App in Browser", style: "border-radius:5px;")
%section#feature-1.section.gray-flat{:activepage => "Landing", :sitemeta => "[object Object]", style: "background-color:white;"}
  .container
    .col-12.text-center.flex.flex-column.center-horizontal
      %i.icon.secondary-bg.mobile-center-icon
        %svg.svg-fill{:viewbox => "0 0 25 25", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M20 22.494v1a.5.5 0 0 1-1 0v-1a.5.5 0 1 1 1 0zm-14.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 1 0v-1a.5.5 0 0 0-.5-.5zm7 1a10.924 10.924 0 0 1-2.494-.391l-.27 1.76a.528.528 0 0 0 .097.454.498.498 0 0 0 .387.183h4.56a.5.5 0 0 0 .49-.598l-.275-1.8a10.928 10.928 0 0 1-2.495.392zm9.06-7.44L18 11.995v9h2.5a1.5 1.5 0 0 0 1.5-1.5v-2.879a1.5 1.5 0 0 0-.44-1.06zM17 5.995v15a18.472 18.472 0 0 1-4 .974v-7.474a.5.5 0 0 0-1 0v7.474a18.47 18.47 0 0 1-4-.974v-15C8 3.67 11.553.244 12.5 0c.947.244 4.5 3.67 4.5 5.994zm-2.168 1.127A4.374 4.374 0 0 0 12.5 5.994a4.113 4.113 0 0 0-2.343 1.136.5.5 0 0 0 .686.729 3.213 3.213 0 0 1 1.657-.865 3.417 3.417 0 0 1 1.668.874.5.5 0 0 0 .664-.748zM3 16.614v2.88a1.5 1.5 0 0 0 1.5 1.5H7v-9l-3.56 3.56a1.5 1.5 0 0 0-.44 1.06z"}
      %h3.heading.primary-color Use Powerful Google Docs Features
  .container-lrg
    .col-12
      = image_tag("Collaboration.png", alt: "Screenshot of App in Browser")
%section#feature-3.section.gray-white{:activepage => "Landing", :sitemeta => "[object Object]"}
  .container-lrg.flex
    .col-4.text-center.flex.flex-column.center-horizontal
      %i.icon.mobile-center-icon.secondary-bg
        %svg.svg-fill{:viewbox => "0 0 25 25", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M20 22.494v1a.5.5 0 0 1-1 0v-1a.5.5 0 1 1 1 0zm-14.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 1 0v-1a.5.5 0 0 0-.5-.5zm7 1a10.924 10.924 0 0 1-2.494-.391l-.27 1.76a.528.528 0 0 0 .097.454.498.498 0 0 0 .387.183h4.56a.5.5 0 0 0 .49-.598l-.275-1.8a10.928 10.928 0 0 1-2.495.392zm9.06-7.44L18 11.995v9h2.5a1.5 1.5 0 0 0 1.5-1.5v-2.879a1.5 1.5 0 0 0-.44-1.06zM17 5.995v15a18.472 18.472 0 0 1-4 .974v-7.474a.5.5 0 0 0-1 0v7.474a18.47 18.47 0 0 1-4-.974v-15C8 3.67 11.553.244 12.5 0c.947.244 4.5 3.67 4.5 5.994zm-2.168 1.127A4.374 4.374 0 0 0 12.5 5.994a4.113 4.113 0 0 0-2.343 1.136.5.5 0 0 0 .686.729 3.213 3.213 0 0 1 1.657-.865 3.417 3.417 0 0 1 1.668.874.5.5 0 0 0 .664-.748zM3 16.614v2.88a1.5 1.5 0 0 0 1.5 1.5H7v-9l-3.56 3.56a1.5 1.5 0 0 0-.44 1.06z"}
      %h3.bold.primary-color Hosted for you
      %p.paragraph.secondary-color We handle hosting, all you need is a Google Drive account!
    .col-4.text-center.flex.flex-column.center-horizontal
      %i.icon.mobile-center-icon.secondary-bg
        %svg.svg-fill{:viewbox => "0 0 25 18", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M24 15V1.5c0-.828-.672-1.5-1.5-1.5h-20C1.672 0 1 .672 1 1.5V15H0v.5A2.503 2.503 0 0 0 2.5 18h20a2.503 2.503 0 0 0 2.5-2.5V15h-1zm-1 0h-8v1h-5v-1H2V1.5a.5.5 0 0 1 .5-.5h20a.5.5 0 0 1 .5.5V15z"}
      %h3.bold.primary-color Open Source
      %p.paragraph.secondary-color Our platform is open source! Feel free to contribute and/or host it yourself!
    .col-4.text-center.flex.flex-column.center-horizontal
      %i.icon.mobile-center-icon.secondary-bg
        %svg.svg-fill{:viewbox => "0 0 23 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M21.003 7.71c-.147.001-.293.017-.436.049-2.739.603-6.347 1.011-6.347 1.011a1.002 1.002 0 0 1-1.199-.98V2.08A2.082 2.082 0 0 0 10.936 0a2.147 2.147 0 0 0-2.118 1.736C8.266 4.64 6.608 8.77 4.829 9.779A1.494 1.494 0 0 0 3.522 9h-2a1.5 1.5 0 0 0-1.5 1.5v12a1.5 1.5 0 0 0 1.5 1.5h2a1.5 1.5 0 0 0 1.5-1.5v-.992l3 1.492h10.76a3.004 3.004 0 0 0 2.928-2.315A55.778 55.778 0 0 0 23 9.791a2.01 2.01 0 0 0-1.997-2.08zM4.02 15.55L4 21l.021.01v1.49a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-12a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5.05z"}
      %h3.bold.primary-color Free
      %p.paragraph.secondary-color We are free to use!
%section.section
  .container.mb40
    .col-12.text-center
      %h4.heading-md.primary-color Create A Blog With Only Google Docs
      .mt40
        %a.button.mobile-text-center.mt10.mobile-text-center.accent-bg.primary-color{:href => new_user_registration_path, :target => "_blank"}
          %span{style: "font-weight:600"} Create Your Blog
