- set_meta_tags_for_post(@post, @text_of_post, @first_img_path)

.page
  .content
    = render "bio", user: @user
    .article
      .post-header
        %h1= @post.title
      = raw @parsed.html_safe
