- set_meta_tags_for_post(@post, @text_of_post, @first_img_path)

- content_for :customized_emoji do
  %link{:href => customized_emoji(@user), :rel => "icon"}

.page
  .content
    = render "bio", user: @user
    .article
      .post-header
        %h1= @post.title
      = raw @parsed.html_safe
