.profile{ style: ""}
  .container{ style: "margin-top:20px;"}
    %h4 Hold up!
    %p
      Hey everyone!
    %p
      Google has decided to put a user quota on my API account, so I need to wait a bit (I'm working with them) before I can connect more users.
    %p
      Please check back in a couple hours to set up your blog!
    %p
      In the meantime, check out how I built and launched this project in 24 hours and streamed the whole process on Twitch!
    %p
      = link_to "Original Tweet", "https://twitter.com/thepatwalls/status/1043242997050167302"
    %p
      = link_to "Twitch Live Stream Recording", "https://www.twitch.tv/videos/313288148##"
    %p
      Thanks for your patience and feel free to contact me about whatever
    %p
      Pat
