// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .dashboard {
    display: flex;
    justify-content: space-between;
  }
}

.posts {
  .media-body {
    margin-bottom: 20px
  }

  ul {
    list-style: none;
  }

  .post {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 25px;

    .date {
      font-size: 14px;
    }

    a {
      color: black;
    }
  }
}
