// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .dashboard {
    display: flex;
    justify-content: space-between;
  }

  .posts {

    .media-body {
      margin-bottom: 20px
    }

    ul {
      list-style: none;
    }
  }
}
