// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .dashboard {
    display: flex;
    justify-content: space-between;
  }
}

.posts {
  .media-body {
    margin-bottom: 20px
  }

  ul {
    list-style: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;

    .nav-left {
      display: flex;
    }

    .nav-item {
      margin-right: 10px;
    }
  }

  .post {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;

    .post-top {
      display: flex;
      flex-direction: column;
      font-size: 25px;

      .date {
        font-size: 14px;
      }

      .post-meta {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 500px;
        height: 200px;
        background-size: cover;
      }

      a {
        color: black;
      }
    }

    .post-bottom {
      font-size: 14px;

      a {
        margin-right: 10px;
      }
    }
  }
}

.form-group {
  .form-control::-moz-placeholder {
    color: #999;
  }
  .form-control::-ms-input-placeholder {
    color: #999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999;
  }
}
