// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lighter {
  color: rgba(0, 0, 0, 0.54);
}

.page {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  min-height: 100vh;

  &.index {
    flex-direction: column;
  }

  .upper-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    .nav-left {
      .title {
        width: 300px;
      }

      .date {
        width: 200px;
      }

      .btn-primary {
        margin-left: 5px;
      }
    }

    .nav-right {
      display: flex;
      justify-content: flex-end;

      .publish {
        margin-left: 5px;
      }
    }

    // a {
    //   margin-right: 10px;
    //   background-color: gray;
    //   padding: 5px;
    //   background-color: rgba(0,0,0,0.12);
    //   margin-top: 10px;
    //   border-radius: 2px;
    //   text-transform: uppercase;
    //   color: white;
    //   text-decoration: none;
    //   font-weight: 600;
    // }
  }

  &.edit {
    flex-direction: column;

    .nav {
      display: flex;
      justify-content: center;
    }
  }

  .gdoc-editor {
    iframe {
      width: 100%;
      height: 100vh;
      border: 0;
    }
  }

  .regular-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // width: 800px;

    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    .dashboard {
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;

    img, span {
      height: auto !important;
      width: auto !important;
    }

    p {
      word-wrap: break-word;
    }

    @media screen and (max-width: 400px) {
      width: 95%;
    }

    .embed {
      display: flex;
      justify-content: center;
    }

    .index-bio {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      img {
        border-radius: 50%;
      }

      .index-bio__right {
        .name {
          font-size: 24px;

          a {
            color: black;
          }
        }

      }

      .index-bio__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        width: 100px;

        img {
          margin-bottom: 10px;
        }

        i {
          font-size: 25px;
          margin-bottom: 5px;
        }
      }
    }

    .bio {
      display: flex;

      .name {
        font-weight: 600;
        font-size: 20px;
      }

      img {
        border-radius: 50%;
      }

      .bio-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
      }
    }

    .article {
      .post-header {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }
  }
}
