// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  min-height: 100vh;

  &.index {
    flex-direction: column;
  }

  .content {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;

    img, span {
      height: auto !important;
      width: auto !important;
    }

    p {
      word-wrap: break-word;
    }

    @media screen and (max-width: 400px) {
      width: 95%;
    }

    .index-bio {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 40px;

      img {
        border-radius: 50%;
      }

      .index-bio__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;

        img {
          margin-bottom: 10px;
        }

        i {
          font-size: 25px;
          margin-bottom: 5px;
        }
      }
    }

    .bio {
      display: flex;

      .name {
        font-weight: 600;
        font-size: 20px;
      }

      img {
        border-radius: 50%;
      }

      .bio-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
      }
    }

    .article {
      .post-header {
        margin-bottom: 20px;
      }
    }
  }
}
